<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='check-time.css') }}" />
    </head>
    <body>
        <div class="FlowRail-First">
            <div>
                <span class="real">
                    실시간
                </span>
                <span class="trailtime">
                    열차시간
                </span>

                <span class="sub-name">
                    서울 1호선 ~ 8호선, 수인분당선
                </span>

                <span class="seoul-line1">
                    서울 1호선
                </span>

                <span class="seoul-line2">
                    서울 2호선
                </span>

                <span class="seoul-line3">
                    서울 3호선
                </span>

                <span class="seoul-line4">
                    서울 4호선
                </span>

                <span class="seoul-line5">
                    서울 5호선
                </span>

                <span class="seoul-line6">
                    서울 6호선
                </span>

                <span class="seoul-line7">
                    서울 7호선
                </span>

                <span class="seoul-line8">
                    서울 8호선
                </span>

                <span class="seoul-suinbundang">
                    수인분당선
                </span>


                <div class="line1-r"></div>
                <div class="line1-e"></div>
                <span class="line1-text">
                    1
                </span>

                <div class="line2-r"></div>
                <div class="line2-e"></div>
                <button type="submit" class="line2-btn" onclick="location.href='station-search'">
                    <img src="{{ url_for('static', filename='images/Right.png') }}">
                </button>
                <span class="line2-text">
                    2
                </span>

                <div class="line3-r"></div>
                <div class="line3-e"></div>
                <span class="line3-text">
                    3
                </span>
    
                <div class="line4-r"></div>
                <div class="line4-e"></div>
                <span class="line4-text">
                    4
                </span>

                <div class="line5-r"></div>
                <div class="line5-e"></div>
                <span class="line5-text">
                    5
                </span>
    
                <div class="line6-r"></div>
                <div class="line6-e"></div>
                <span class="line6-text">
                    6
                </span>

                <div class="line7-r"></div>
                <div class="line7-e"></div>
                <span class="line7-text">
                    7
                </span>
    
                <div class="line8-r"></div>
                <div class="line8-e"></div>
                <span class="line8-text">
                    8
                </span>

                <div class="line-suinbundang-r"></div>
                <div class="line-suinbundang-e"></div>
                <span class="line-suinbundang-text">
                    수인분당선

            </div>
            </span>
        </div>
    </body>
</html>