<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='station-search.css') }}" />
    </head>
    <body>
        <div class="FlowRail-First">
            <div>
                <span class="search_main">
                    검색
                </span>
                <div class="search_bar"></div>
                <div class="line_choose_background"></div>
                <div class="line_choose_2"></div>
                <span class="ex-line2">
                    2
                </span>
                <span class="ex-line2-text">
                    서울 2호선
                </span>
                <div class="line_choose-t"></div>
            </div>