<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='station_search.css') }}" />
    </head>
    <body>
        <div class="FlowRail-First">
            <div>
                <span class="real">
                    실시간
                </span>
                <span class="trailtime">
                    열차시간
                </span>
                <span class="sub-name">
                    서울 1호선 ~ 8호선, 수인분당선
                </span>
                <span class="seoul-line1">
                    서울 1호선
                </span>
                <span class="seoul-line3">
                    서울 3호선
                </span>
                <span class="seoul-line5">
                    서울 5호선
                </span>
                <span class="seoul-line7">
                    서울 7호선
                </span>
                <span class="seoul-suinbundang">
                    수인분당선
                </span>
            </div>

            <div class="line1-r"></div>
            <div class="line1-e"></div>
            <span class="line1-text">
                1
            </span>
            <div class="line3-r"></div>
            <div class="line3-e"></div>
            <span class="line3-text">
                3
            </span>

            <div class="line5-r"></div>
            <div class="line5-e"></div>
            <span class="line5-text">
                5
            </span>

            <div class="line7-r"></div>
            <div class="line7-e"></div>
            <span class="line7-text">
                7
            </span>

            <div class="line-suinbundang-r"></div>
            <div class="line-suinbundang-e"></div>
            <span class="line-suinbundang-text">
                수인분당선
            </span>

            </span>
        </div>
    </body>
</html>