<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="station-search.css" />
    </head>
    <body>
        <div class="FlowRail-First">
            <form action="" method="">
                <span class="search_main">
                    검색
                </span>
                <div class="search_bar"></div>
                <div class="line_choose_background">
                    <input type="text" name="station"/>
                </div>
                <div class="line_choose_2"></div>
                <span class="ex-line2">
                    2
                </span>
                <span class="ex-line2-text">
                    서울 2호선
                </span>
                <img class="search_img" src="./Search.png">
                <img class="line-menu_img" src="./Menu.png">
                <input type="submit" class="search-bar_img" value="">
            </form>