<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='subway-DI.css') }}" />

    </head>
    <body>
        <div class="FlowRail-First">
            <div class="station-background"></div>
            <div class="line2-e-201"></div>
            <span class="line2-t-201">201</span>
            <span class="station-name">{{name}}</span>
            <span class="station-t-line2">{{line}}</span>
            <div class="in-out-line-background"></div>
            <span class="in-out-t">{{trainlinenum}}</span>
            <strong class="infomation-t-1">{{train_number}} 열차</strong>
            <span class="infomation-station-now">{{first_info}}</span>
            <span class="car-now-station">{{second_info}}</span>
            <span class="car-now-check">{{arrivalcode}}</span>
            <span class="infomation-t-2">{{second_infomation_test}} 열차</span>
            <span class="infomation-station-now-2">{{second_first_info}}</span>
            <span class="car-now-station-2">{{two_second_info}}</span>
            <span class="car-now-check-2">접근</span>
            <span class="infomation-t-3">외선순환 2210</span>
            <span class="infomation-station-now-3">3전 역</span>
            <span class="car-now-station-3">을지로4가</span>
            <span class="car-now-check-3">접근</span>


        </div>
    </body>
</html>