.check-time {
    background-color: #171717;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .check-time .div {
    background-color: #171717;
    width: 393px;
    height: 852px;
    position: relative;
  }
  
  .check-time .overlap {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 306px;
    left: 206px;
  }
  
  .check-time .rectangle {
    background-color: #18971d;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .ellipse {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;
    left: 37px;
    background-color: #d9d9d9;
    border-radius: 17px;
  }
  
  .check-time .text-wrapper {
    width: 15px;
    left: 47px;
    color: #18971d;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-group {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 391px;
    left: 50px;
  }
  
  .check-time .rectangle-2 {
    background-color: #ef2222;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-2 {
    width: 15px;
    left: 47px;
    color: #ef2222;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-2 {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 391px;
    left: 206px;
  }
  
  .check-time .rectangle-3 {
    background-color: #0098a2;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-3 {
    width: 15px;
    left: 46px;
    color: #0098a2;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-3 {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 477px;
    left: 50px;
  }
  
  .check-time .rectangle-4 {
    background-color: #201966;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-4 {
    width: 15px;
    left: 46px;
    color: #201966;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-4 {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 476px;
    left: 206px;
  }
  
  .check-time .rectangle-5 {
    background-color: #a24e00;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-5 {
    width: 15px;
    left: 46px;
    color: #a24e00;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-5 {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 561px;
    left: 51px;
  }
  
  .check-time .rectangle-6 {
    background-color: #448900;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-6 {
    width: 15px;
    left: 47px;
    color: #448900;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-6 {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 560px;
    left: 207px;
  }
  
  .check-time .rectangle-7 {
    background-color: #c9027a;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-7 {
    width: 15px;
    left: 47px;
    color: #ca037a;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .overlap-7 {
    position: absolute;
    width: 132px;
    height: 34px;
    top: 654px;
    left: 51px;
  }
  
  .check-time .rectangle-8 {
    background-color: #c8e41f;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-8 {
    width: 26px;
    top: 12px;
    left: 41px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 6px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .iconex-filled-right {
    top: 6px;
    left: 108px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .overlap-8 {
    position: absolute;
    width: 109px;
    height: 34px;
    top: 306px;
    left: 50px;
  }
  
  .check-time .rectangle-9 {
    background-color: #1612cd;
    position: absolute;
    width: 109px;
    height: 20px;
    top: 7px;
    left: 0;
    border-radius: 31px;
  }
  
  .check-time .text-wrapper-9 {
    width: 12px;
    left: 48px;
    color: #1612cd;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .battery {
    position: absolute;
    width: 27px;
    height: 13px;
    top: 27px;
    left: 333px;
  }
  
  .check-time .capacity-wrapper {
    position: absolute;
    width: 25px;
    height: 13px;
    top: 0;
    left: 0;
    border-radius: 4.3px;
    border: 1px solid;
    border-color: var(--labelsprimary-dark);
  }
  
  .check-time .capacity {
    position: relative;
    width: 21px;
    height: 9px;
    top: 1px;
    left: 1px;
    background-color: var(--labelsprimary-dark);
    border-radius: 2.5px;
  }
  
  .check-time .cap {
    position: absolute;
    width: 1px;
    height: 4px;
    top: 5px;
    left: 26px;
  }
  
  .check-time .wifi {
    position: absolute;
    width: 17px;
    height: 12px;
    top: 27px;
    left: 306px;
  }
  
  .check-time .cellular-connection {
    position: absolute;
    width: 19px;
    height: 12px;
    top: 27px;
    left: 277px;
  }
  
  .check-time .time {
    position: absolute;
    top: 20px;
    left: 63px;
    font-family: "SF Pro-Semibold", Helvetica;
    font-weight: 400;
    color: var(--labelsprimary-dark);
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .check-time .text-wrapper-10 {
    width: 95px;
    top: 288px;
    left: 54px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-11 {
    width: 95px;
    top: 458px;
    left: 210px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-12 {
    width: 95px;
    top: 372px;
    left: 209px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-13 {
    width: 95px;
    top: 543px;
    left: 55px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-14 {
    width: 95px;
    top: 372px;
    left: 55px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-15 {
    width: 95px;
    top: 459px;
    left: 56px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-16 {
    width: 95px;
    top: 542px;
    left: 208px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-17 {
    width: 95px;
    top: 636px;
    left: 55px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .text-wrapper-18 {
    width: 95px;
    top: 288px;
    left: 210px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .iconex-filled-search {
    left: 100px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 798px;
  }
  
  .check-time .iconex-filled-coins {
    left: 184px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 798px;
  }
  
  .check-time .iconex-filled-book {
    left: 268px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 798px;
  }
  
  .check-time .book {
    position: relative;
    width: 22px;
    height: 19px;
    top: 2px;
    left: 1px;
    background-image: url(./img/subtract.svg);
    background-size: 100% 100%;
  }
  
  .check-time .text-wrapper-19 {
    width: 140px;
    top: 134px;
    left: 75px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .p {
    width: 281px;
    top: 218px;
    left: 78px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .check-time .img {
    top: 311px;
    left: 159px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-2 {
    top: 396px;
    left: 160px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-3 {
    top: 483px;
    left: 160px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-4 {
    top: 568px;
    left: 160px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-5 {
    top: 311px;
    left: 316px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-6 {
    top: 396px;
    left: 316px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-7 {
    top: 483px;
    left: 316px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .check-time .iconex-filled-right-8 {
    top: 566px;
    left: 317px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  